.App {
  text-align: center;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-block {
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.upload-block {
 width: 100vw;
 height: 40vh;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 flex-wrap: wrap;
 

}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
